html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrapper {
	width: 100%;
	margin: 0 auto;
	min-width: 1235px;
	
}

.home {
	background-color: #000;
	height: 689px; /*1042px*/
	padding-top: 353px;
	padding-left: 20px;
}

.brand-name {
	font-family: 'Montserrat', sans-serif;
	color: #bea67c;
	font-size: 100px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 100px; /* Approximation due to font substitution */
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 18px;
	
}

header {
	background-color: #000;
	text-align: center;
}

.wr-home-content {
	width: 608px;
	margin: 0 auto;
}

.button-learn-more {
	margin-top: 61px;
	display: block;
	border-width: 2px;
	border-color: #ffffff;
	border-style: solid;
	width: 303px;
	height: 54px;
	text-align: center;

}

.button-learn-more a {
	font-family: ProximaNova;
	color: #ffffff;
	font-size: 13.99px; 
	font-weight: 700;
	line-height: 50px; 
	text-transform: uppercase;
	text-decoration: none;
}

.caption { 
	font-family: 'Montserrat', sans-serif;
	color: #010101;
	font-size: 48px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 100px; /* Approximation due to font substitution */
	text-align: left;
	text-transform: uppercase;
}

.text-paragraph {
	font-family: 'Montserrat', sans-serif;
	color: #464646;
	font-size: 15px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 25px; /* Approximation due to font substitution */
	text-align: left;
}

.link-learn-more {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 14px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 70px; /* Approximation due to font substitution */
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.white-block {
	margin-top: -47px;
	width: 53%;
	height: 50px;
	background-color: #fff;
}

.wr-product-01 {
	padding-top: 91px;
	width: 1235px;
	margin: 0 auto;
	text-align: right;
}


.wr-caption {
	padding-top: 100px;
	width: 370px;
	float: left;
	text-align: left;
	padding-left: 30px;
}

.position-left {
	width: 160px;
	float: left;
	padding-top: 146px;
	text-align: right;

}

.line-01 {
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	border-style: solid;
	width: 151px;
	height: 1px;
	display: inline-block;
}

.line-02 {
	background-color: #bea67c;
	width: 44px;
	height: 4px;
	display: inline-block;
	margin-top: 54px;
}

.number-block {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 36px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 100px; /* Approximation due to font substitution */
	text-align: left;
	margin-top: 135px;
}

.number-block span{
	font-family: 'Montserrat', sans-serif;
	color: #bea67c;
	font-size: 36px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 100px; /* Approximation due to font substitution */
	text-align: left;

}

.position-right {
	text-align: right;

}

.wr-product-02 {
	padding-top: 281px;
	width: 1235px;
	margin: 0 auto;
	text-align: right;
}

.position-left {
	width: 160px;
	float: left;
	padding-top: 146px;
	text-align: left;
}	


.wr-caption-02 {
	padding-top: 100px;
	width: 370px;
	float: right;
	text-align: right;
	padding-right: 30px;
}

.position-rigth {
	width: 160px;
	float: right;
	padding-top: 136px;
	text-align: left;
} 

.caption-02 {
	font-family: 'Montserrat', sans-serif;
	color: #010101;
	font-size: 48px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 100px; /* Approximation due to font substitution */
	text-align: right;
	text-transform: uppercase;
}

.text-paragraph-02 {
	font-family: 'Montserrat', sans-serif;
	color: #464646;
	font-size: 15px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 25px; /* Approximation due to font substitution */
	text-align: right;
}